@using ePaila.ViewModel;

@model ePaila.ViewModel.FeedMeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/images/Favicon.png")" />
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/skel.min.js")"></script>
    <script src="@Url.Content("~/Content/js/util.js")"></script>
    <script src="@Url.Content("~/Content/js/main.js")"></script>
</head>
<body>
    <div>
        <!-- Content -->
        <div id="content">
            <div class="inner">
                @RenderBody()
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo -->
            <h1 id="logo"><a href="@Url.Action("Index", "Home")">ePaila</a></h1>
            <label id="alert" style="font-size:small;">Updated every 30 sec</label><br />
            <label id="alert" style="font-size:small;">@Model.Items.Where(x => x.PublishedDate >= DateTime.Now.AddMinutes(-59)).Count() news last hour</label>
            <!-- Nav -->
            <section class="box recent-posts">
                <header>
                    <h2>News Channel</h2>
                </header>
                <ul>
                    @foreach (var item in Model.Channels)
                    {
                        <li><a href="@item.URL" target="_blank">@item.Title</a></li>
                    }
                </ul>
            </section>

            <!-- Search -->
            <section class="box search">
                <form method="post" action="#">
                    <input type="text" class="text" name="search" placeholder="Search" />
                </form>
            </section>
            
            <!-- Top News -->
            <section class="box recent-posts">
                <header>
                    <h2>Top News</h2>
                </header>
                <ul>
                    @foreach (var item in Model.Items.Take(5))
                    {
                        <li><a href="@item.Link" target="_blank">@(item.HeadLine.Length > 26 ? item.HeadLine.Substring(0, 26) : item.HeadLine)...</a></li>
                    }
                </ul>
            </section>

            <!-- Recent News -->
            <section class="box recent-comments">
                <header>
                    <h2>Recent</h2>
                </header>
                <ul>
                    @foreach (var item in Model.Items.Skip(25).Take(10))
                    {
                        <li><a href="@item.Link" target="_blank">@(item.HeadLine.Length > 26 ? item.HeadLine.Substring(0, 26) : item.HeadLine)...</a></li>
                    }
                </ul>
            </section>

            <!-- Past One Hour News-->
            <section class="box recent-comments">
                <header>
                    <h2>One Hour Before</h2>
                </header>
                <ul>
                    @foreach (var item in Model.Items.Where(x=> x.PublishedDate<= DateTime.Now.AddMinutes(-60)).Take(10))
                    {
                        <li><a href="@item.Link" target="_blank">@(item.HeadLine.Length > 26 ? item.HeadLine.Substring(0, 26) : item.HeadLine)...</a></li>
                    }
                </ul>
            </section>

            <!-- Copyright -->
            <ul id="copyright">
                <li>&copy; ePaila</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>

        </div>
    </div>
</body>
</html>
