
@model ePaila.ViewModel.FeedMeViewModel
@{
    ViewBag.Title = "ePaila : Feed Me(Beta)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/js/xdomain.js")"></script>
<h2>Feed Me, beta Project</h2>

@foreach (var item in Model.Items)
{
    <article class="box post post-excerpt">
        <header>
            <h2><a href="@item.Link" target="_blank">@item.Title</a></h2>
        </header>
        <div class="sidebar">
            <span class="date">
                <span class="month">@item.PublishedDate.ToString("MMM")<span>y</span></span>
                <span class="day">@item.PublishedDate.ToString("dd")</span><span class="year">, @item.PublishedDate.ToString("yyyy")</span>
            </span>
        </div>
        <p>@Html.Raw(item.Description)</p>
    </article>
}
