@model ePaila.ViewModel.ContactMeViewModel
@{
    ViewBag.Title = "ePaila : Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Use this box to send message.</h2>
<form method="post">
    @Html.AntiForgeryToken()
    What's your mom call you?<br>
    <input type="text" name="name" value="@Model.Name"><br>
    Where can we email you back?<br>
    <input type="text" name="email" value="@Model.Email"><br>
    What's on your mind?<br>
    <textarea name="message">@Model.Message</textarea>    
    <br>
    <input type="submit" value="Send">
    <input type="reset" value="Clear">
</form>
<label>@ViewBag.Msg</label>


